<section class="auth-page">
	<div class="auth-card">
		<h1>Inscription</h1>
		<p class="subtitle">Rejoignez Shop♡Ease en quelques clics</p>

		<form class="auth-form">
			<label for="fullName">Nom complet</label>
			<input id="fullName" type="text" placeholder="Votre nom" />

			<label for="email">Email</label>
			<input id="email" type="email" placeholder="Votre email" />

			<label for="password">Mot de passe</label>
			<input id="password" type="password" placeholder="••••••••" />

			<label for="confirm">Confirmer le mot de passe</label>
			<input id="confirm" type="password" placeholder="••••••••" />


			<button type="submit" class="primary-btn">Créer un compte</button>
		</form>

		<p class="switch">Déjà un compte ? <a routerLink="/login">Se connecter</a></p>
	</div>
</section>
