@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* Footer styles */
.footer {
  background-color: rgba(69, 65, 65, 0.929);
  color: #D3D3D3;
  font-family: "Poiret One", sans-serif;

  margin-top: auto;   /* push footer to bottom */
  width: 100%;        /* full width */
}

.footer-content {
  max-width: 100%;    /* don't exceed screen */
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.shop-logo {
  font-size: 32px !important;
  font-weight: 900 !important;
  margin-bottom: 15px !important;
  letter-spacing: 2px !important;
}

.footer-links {
  display: flex !important;
  justify-content: center !important;
  gap: 30px !important;
  margin-bottom: 15px !important;
}

.footer-links a {
  color: #D3D3D3 !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  transition: color 0.3s !important;
}

.footer-links a:hover {
  color: rgb(170, 190, 211) !important;
}

.copyright {
  font-size: 20px !important;
  opacity: 0.8 !important;

}

/* Mobile */
@media (max-width: 768px) {
  .footer-links {
    flex-direction: column !important;
    gap: 10px !important;
  }

  .footer {
    padding: 25px 15px !important;
  }
}
