<section  class="first-section">
  <div class="article-item">

          <div class="img-article">
            <img src="images/article1.jpg" alt="">
          </div>

          <div class="detail-article">
              <div class="article-info">
                   <div>
                      <p class="titre">Jerry jogger bottoms</p>
                      <p class="price"> 59,00 €</p>
                       <hr>
                   </div>
                   <div class="info2">
                      <p class="color">Color : Black</p>
                      <p class="color">Category : Tops</p>
                      <p class="color">Product group : Garment Upper body</p>

                   </div>

              </div>
               <button class="sbmt">Ajouter au panier</button>
          </div>
  </div>

</section>


<section  class="Second-section">
          <h1>Similar Products</h1>
          <div class="similar-articles">
                <div class="prod">
                  <img src="images/article1.jpg" alt="">
                  <div>
                       <p class="prod-name">Tanktop body black </p>
                        <p class="price-tag">59,00 €</p>
                  </div>

                </div>
                <div class="prod">
                  <img src="images/article1.jpg" alt="">
                  <div>
                       <p class="prod-name">Tanktop body black </p>
                        <p class="price-tag">59,00 €</p>
                  </div>

                </div><div class="prod">
                  <img src="images/article1.jpg" alt="">
                  <div>
                       <p class="prod-name">Tanktop body black </p>
                        <p class="price-tag">59,00 €</p>
                  </div>

                </div><div class="prod">
                  <img src="images/article1.jpg" alt="">
                  <div>
                       <p class="prod-name">Tanktop body black </p>
                        <p class="price-tag">59,00 €</p>
                  </div>

                </div>
                <div class="prod">
                  <img src="images/article1.jpg" alt="">
                  <div>
                       <p class="prod-name">Tanktop body black </p>
                        <p class="price-tag">59,00 €</p>
                  </div>

                </div>
                <div class="prod">
                  <img src="images/article1.jpg" alt="">
                  <div>
                       <p class="prod-name">Tanktop body black </p>
                        <p class="price-tag">59,00 €</p>
                  </div>

                </div>
          </div>

</section>
