@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Birthstone&family=Boldonse&family=Butterfly+Kids&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courgette&family=Lato:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Quintessential&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ruge+Boogie&family=Sacramento&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Sumana:wght@400;700&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

.first-section{
  margin-left: 9vw;
  height: 500px;
  width: 60vw;
  margin-top: 40px;
}
.Second-section{
  display: block;
  margin: auto;
  width: 80vw;
  margin-top: 40px;
  font-family: "Poiret One", sans-serif;
  margin-bottom: 100px;
}

.article-item{
  height: 600px;
  display: flex;
  width: 1200px;
}

.img-article{
  position: relative;
  width: 40%;
}
.img-article img {
  width: 100%;
  height: 100%;

  border-radius: 18px;

  /* floating effect */
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.15),
    0 8px 16px rgba(0, 0, 0, 0.08);

  transform: translateY(-10px);
}
.img-article img {
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.img-article img:hover {
  transform: translateY(-18px);
  box-shadow:
    0 30px 60px rgba(0, 0, 0, 0.18),
    0 12px 24px rgba(0, 0, 0, 0.1);
}



.detail-article{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Poiret One", sans-serif;
  padding-left: 30px;
  width: fit-content;
  /* background-color: beige; */
}

.detail-article p{
  height: 60px;
  margin-left: 30px;
  width: fit-content;
}


.article-info{
      height: 300px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
}

.article-info .titre {
            font-size: 50px;
            font-weight: 300px;
}
.article-info .price{
            font-size: 25px;
            font-weight: 100px;
            margin-top: 20px;
}
.article-info .color {
          font-weight: 200px;
            font-size: 20px;

}

.detail-article .sbmt{
     color: black;
     height: 50px;
     background-color: none;
     align-self: center;
     width: 85%;
    font-family: "Poiret One", sans-serif;
    font-size: 30px;

      background-color: white;
      font-weight: 50px;


}

.detail-article .sbmt:hover{
  text-decoration: underline;
  cursor: pointer;
}


.article-info hr{
  display: block;
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  width: 80%;
}
.article-info  .info2{

    margin-top: 20px;

}


/* Add these styles to your existing CSS */
.prod {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 500px;
  width: 350px;
  margin-bottom: 80px;
}

.prod::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.03) 100%);
  border-radius: 4px;
  transition: all 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.prod:hover::before {
  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.05) 100%);
}

.prod img {
  height: 90%;
  width: 300px;
  outline: 2px solid rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  position: relative;
  z-index: 0;
}

.prod:hover img {
  outline: 2px solid rgba(0, 0, 0, 0.15);
}

.prod div {
  position: relative;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.prod div p {
  padding: 5px;
  transition: all 0.3s ease;
}

.prod:hover .prod-name {
  transform: translateX(4px);
}

.prod:hover .price-tag {
  transform: translateX(4px);
  color: #333;
}

.prod div .prod-name {
  font-size: 30px;
}

.prod div .price-tag {
  font-size: 20px;
}
.similar-articles{
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

 }
.Second-section h1{
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  margin-top: 200px;

}


